<h1>Add Invoice</h1>
<form method="POST" action="/api/sales">
    <div id="form-group">
        <div>
            <label for="Invoice ID">Invoice ID:</label>
            <input class="form-control" name="Invoice ID" type="text" id="Invoice ID">
        </div>

        <div>
            <label for="Branch">Branch:</label>
            <input class="form-control" name="Branch" type="text" id="Branch">
        </div>   

        <div>
            <label for="City">City:</label>
            <input class="form-control" name="City" type="text" id="City">
        </div>

        <div>
            <label for="Customer type">Customer Type:</label>
            <input class="form-control" name="Customer type" type="text" id="Customer type">
        </div>

        <div>
            <label for="Product line">Product Line:</label>
            <input class="form-control" name="Product line" type="text" id="Product line">
        </div>

        <div>
            <label for="name">Name:</label>
            <input class="form-control" name="name" type="text" id="name">
        </div>

        <div>
            <label for="image">Image:</label>
            <input class="form-control" name="image" type="text" id="image">
        </div>

        <div>
            <label for="Unit price">Unit Price:</label>
            <input class="form-control" name="Unit price" type="text" id="Unit price">
        </div>

        <div>
            <label for="Quantity">Quanity:</label>
            <input class="form-control" name="Quantity" type="text" id="Quantity">
        </div>

        <div>
            <label for="Tax 5%">Tax:</label>
            <input class="form-control" name="Tax 5%" type="text" id="Tax 5%">
        </div>

        <div>
            <label for="Total">Total:</label>
            <input class="form-control" name="Total" type="text" id="Total">
        </div>

        <div>
            <label for="Date">Date:</label>
            <input class="form-control" name="Date" type="text" id="Date">
        </div>

        <div>
            <label for="Time">Time:</label>
            <input class="form-control" name="Time" type="text" id="Time">
        </div>

        <div>
            <label for="Payment">Payment:</label>
            <input class="form-control" name="Payment" type="text" id="Payment">
        </div>

        <div>
            <label for="cogs">Cogs:</label>
            <input class="form-control" name="cogs" type="text" id="cogs">
        </div>

        <div>
            <label for="gross income">Gross Income:</label>
            <input class="form-control" name="gross income" type="text" id="gross income">
        </div>

        <div>
            <label for="Rating">Rating:</label>
            <input class="form-control" name="Rating" type="text" id="Rating">
        </div>
    </div>

    {{!-- <div id="form-group">
        <label for="author">Author:</label>
        <input class="form-control" name="author" type="text" id="author">
    </div>

    <div id="form-group">
        <label for="pages">Pages:</label>
        <input class="form-control" name="pages" type="number" id="pages">
    </div>

    <div id="form-group">
        <label>Genres:</label>
        <!-- Loop through genres to assign values to checkboxes -->
        {{#each genres}}
        <div>
            <input class="form-control" name="genres" type="checkbox" value="{{this}}">
            <label>{{this}}</label>
        </div>
        {{/each}}
    </div>

    <div id="form-group">
        <label for="rating">Rating:</label>
        <input class="form-control" name="rating" type="number" id="rating">
    </div> --}}

    <input class="btn btn-primary" type="submit" value="Submit">
</form>
